<%- include('includes/head.ejs') %>
</head>
<body>
   <%- include('includes/nav.ejs') %>
   <main class="error-body">
    <h1>Sorry, an error occured.</h1>
    <p>We're working on fixing it. Please try again in a moment.</p>
    <p><a href="/">Go Back to Home</a></p>
   </main>
<%- include('includes/end.ejs') %> 