.form-control {
    margin: 1rem 0;
}

.login-form {
    padding: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.form-control label,
.form-control input,
.form-control textarea {
    display: block;
    width: 100%;
    margin-bottom: 0.25rem;
}

.text-input {
    border: 1px solid #a1a1a1;
    font: inherit;
    border-radius: 2px;
    padding: 5px;
    margin-bottom: 20px;
}

.form-control input:focus,
.form-control textarea:focus {
    outline-color: #00695c;
}

.invalid {
    border-color: red;
}

.reset-div {
    width: 23rem;
    max-width: 90%;
    margin: auto;
    padding-top: 30px;
}

.reset-div p {
    margin-left: 20px;
    margin-top: 20px;
}
